.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
}

.App-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App-link {
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}
